body {
    padding-top: 50px;
    background: url('img/website-1.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

.myName{
    padding-top: 30%;
    font-size: 150px;
    text-align: center;
}

.CrDe{
    padding-top: 40px;
    font-size: 50px;
    text-decoration: line-through;
    text-align: center;
}

.FourParts{
    padding-top: 15%;
    font-size: 35px;
}

.AMbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color: black;
}

.EXbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color: black;
}

.SEbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color: black;
}

.PRbar{
    margin-left: 1%;
    margin-top: 50px;
    width:70px;
    height:10px;
    background-color:RGB(3,251,103);
}


.PRtext{
    font-size: 35px;
    color: RGB(3,251,103);
}

.Opart{
    padding-top: 5%;
}
/*
[class*="col-"]{
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2)

}*/