body {
    padding-top: 50px;
    background: url('img/website-1.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;

    border: 2px solid #000000;
}

.myName{
    padding-top: 30%;
    font-size: 150px;
    text-align: center;
}

.CrDe{
    padding-top: 40px;
    font-size: 50px;
    text-decoration: line-through;
    text-align: center;
}

.FourParts{
    padding-top: 15%;
    font-size: 35px;
}

.AMbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color: black;
}

.hover1:hover .hs1{
    display: block;
    z-index: 1;
}

.hover1:hover +.AMtext{
    z-index: -1;
}

.hs1{
    position: absolute;
    width:500px;
    height: 230px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(133, 230, 165, 0.726);
    /* border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2); */
    display: none;
}

.hover2:hover .hs2{
    display: block;
    z-index: 1;
}

.hover2:hover +.EXtext{
    z-index:-1;
}

.hs2{
    position: absolute;
    width:600px;
    height: 230px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(28, 31, 30, 0.938);
    /* border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2); */
    display: none;
}

.ex{
    padding-top:2%;
    padding-left:2%;
    float: left;
    width: 45%;
}

.hsname{
    margin-left: 3%;
    padding-top: 5%;
    font-size: 35px;
}

.hsrow{
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
    width:70px;
    height:5px;
    background-color: black;
}

.hsam{
    margin-left: 3%;
    font-size: 20px;
}

.EXbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color: black;
}

.exname{
    font-size: 30px;
    color: RGB(255,255,255);
}

.exsit{
    font-size: 20px;
    color: RGB(255,255,255);
}

.exrow{
    margin-top: 3%;
    margin-bottom: 5%;
    width:70px;
    height:5px;
    background-color: rgb(255, 255, 255);
}

.extime{
    color: RGB(255,255,255);
    font-size: 25px;
}
.SEbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color: black;
}

.PRbar{
    margin-left: 1%;
    margin-bottom: 10%;
    width:70px;
    height:10px;
    background-color:RGB(3,251,103);
}


.PRtext{
    font-size: 35px;
    color: RGB(3,251,103);
}


.PRcont{
    margin-top: 5%;
}

.Opart{
    padding-top: 5%;
}


/* [class*="col-"]{
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2)

} */

.project-item{
    height: 500px;
    border: 1px solid #000000;
}

.project-row{
    width: 100%;
}

.project-c{
    padding-left:0;
    padding-right:0;
    margin: 0 auto;
}